version: '3'
services:
  web:
    build: .
    command: bash -c "gunicorn -w 1 -b 0.0.0.0:5000 wsgi:app"
    ports:
      - "5000:5000"
    depends_on:
      - "redis"
    volumes:
      - .:/code
    environment:
      - PYTHONUNBUFFERED=1
  redis:
    image: "redis:alpine"
